
* {
    margin: 0;
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
}

/*header*/

.header {
    grid-column-start: 2;
    padding: 10px 25px;
    box-shadow: 0px 5px 5px grey;
}

.header .logo {
    clip-path: circle();
    height: 80%;
}

.header img {
    height: 25px;
}

/*header row one*/

.rowOne {
    grid-row-end: 2;
    display: flex;
    align-items: center;
    height: 60px;
    gap: 5px;
}

.searchBar {
    background: rgba(206, 206, 206, 0.966);
    border-radius: 25px;
    border: none;
    width: 23rem;
    height: 1.7rem;
    margin-right: auto;
}


.name {
    font-weight: 700;
}
/*header row two*/

.rowTwo {
    grid-row-end: 3;
    display: flex;
    height: 90px;
    align-items: center;
    
}


.nameContainer {
    display: grid;
    grid-template-columns: repeat(auto);
    margin-right: auto;
}

.namePlus {
    font-weight: 700;
    font-size: 1.4rem;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    height: 40%;
}

button {
    background: #2dd4bf;
    width: 5rem;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 700;
}
/*main*/

.main {
    grid-column-start: 2;
}

/*sidebar*/

.sidebar {
    background: #5eead4;    ;
    grid-row: 1/4;
}

