
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content {
    display: grid;
    grid-template-columns: 300px 1fr;
}

/*header*/

.header {
    grid-column-start: 2;
    padding: 10px 25px;
    box-shadow: 0px 5px 5px grey;
}

.header .logo {
    clip-path: circle();
    height: 80%;
}

.header img {
    height: 25px;
}

/*header row one*/

.rowOne {
    grid-row-end: 2;
    display: flex;
    align-items: center;
    height: 60px;
    gap: 5px;
}

.searchBar {
    background: rgba(206, 206, 206, 0.966);
    border-radius: 25px;
    border: none;
    width: 23rem;
    height: 1.7rem;
    margin-right: auto;
}


.name {
    font-weight: 700;
}
/*header row two*/

.rowTwo {
    grid-row-end: 3;
    display: flex;
    height: 90px;
    align-items: center;
    
}


.nameContainer {
    display: grid;
    grid-template-columns: repeat(auto);
    margin-right: auto;
}

.namePlus {
    font-weight: 700;
    font-size: 1.4rem;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
    height: 40%;
}

button {
    background: #2dd4bf;
    width: 5rem;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 700;
}
/*main*/

.main {
    grid-column-start: 2;
    background: #ccfbf1;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
    padding-bottom: 60px;
    padding-top: 25px;
    gap: 25px;
}

.mainContent {
    grid-column-start: 1;
}

.projectHeader {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1.25rem;
}

.card {
    background: #FFFF;
    height: 150px;
    border-radius: 5%;
    padding: 25px;

    display: flex;
    flex-direction: column;
    box-shadow: -10px 0px 0px #d946ef;
}

.card img {
    height: 20px;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;   
}

.cardIcons {
    margin-left: auto;
    margin-top: auto;
}


/*sidebar*/

.sidebar {
    background: #5eead4;    ;
    grid-row: 1/4;
    padding: 10px;
    color: white;
}

.dashboard {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.dashboard img {
    height: 4rem;
    filter: invert(100%);
}

.sideContainer {
    display: grid;
    grid-template-rows: repeat(2, auto);
    margin-left: 10px;
    font-size: 1.25rem;
    gap: 60px;
    margin-top: 30px;
}

.sideContainer> ul:first-child {
    display: grid;
    grid-template-rows: repeat(6, auto);
    gap: 15px;
}

.sideContainer> ul:last-child {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

li img {
    height: 2rem;
    mask-image: white;
    filter: invert(100%)
}

.sideContainer li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}